*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
ol{
    display: flex;
}
.logo{
    border: solid black;
    justify-content: start;
}